html{
    font-size:62.5%; /* 62.5% sets the default font size for your web page to 10px (the browser default is 16px). */
    margin-top: 0%;
}     

body{
    height:1570px;
    background-color: #eee;
    position: relative;
    margin-bottom:0;
}

#header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    padding-top: 15px;
    background-color: #eee;
}

#header-img{
    max-width: 100%;
}

nav > ul{                                     /* the > targets the ul element in the <nav> */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    flex-wrap:wrap;
    list-style-type:none;  
}

#nav-bar{
    top:0;
}

nav li{
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size: 1.8rem;
    margin-right:80px; 
}

.nav-link{
    text-decoration: none;
    color:#000;
    font-family:'Lato', sans-serif;
}

#form{
    padding-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form h1{
    font-size:2.3rem;
    font-family:'Lato', sans-serif;
}

#email {
    align-items: center;
    margin-bottom: 10px;
    width:265px;
    height:25px;
}

#Features{
    margin-top:100px;
    display: flex;
    align-items:start;
    flex-direction: column;
    font-size:1.7rem;
    font-family:'Lato', sans-serif;
}

.description{
    text-align: left;   
    line-height: 2rem;
}

.description h1{
    margin-bottom: 6px;
    font-weight:550;
    font-size:2.5rem;
}

.description p{
    margin-top: 0;
    font-size:1.6rem;
}

.icon{
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: center;
    color: darkorange;
    margin-left: 20px;
    margin-right: 20px;
    width:62.5px;   
}

.container{
    width:70%;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left:auto;
    margin-right:auto;      
}

.grid{  /* Icons are appeared next to each other */
    display: flex; /* Set the display to flex to enable flexbox */
    align-items: center; /* Align the items vertically at the center */
    gap: 60px;
    padding-top: 20px;
}

.icon i {
    font-size: 5rem;
}

.grid:first-of-type{
    gap:65px;
}

.container2{
    width:100%;
    height:450px;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;    /* centers vertically */  
    margin-bottom: 0;
    padding-bottom: 0%;
}

#video{
    height:350px;
    width:550px;
    margin-bottom: 0;
    padding-bottom: 0%;
}

.container3{
    width:100%;
    height:350px;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr); /* Creates three equal-width columns */
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.price{
    height:330px;
    width:320px;
    border:1px solid black;  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Lato', sans-serif;   
    position: relative;

}

.price-heading{
    background-color:#ddd;
    top:0;
    width:100%;
    height:15%;
    text-align: center;     
    
}

.price-heading h2{
    font-weight:0;
    font-size: 1.6rem;
    padding-top: 3px;
    
}

h3{
    font-size: 2.3rem; 
}

.price p{
    font-size:1.5rem ;
    line-height:1rem;
    margin-top: 5px;
}

.btn1{
    border:none;
    background-color: #F1C40F;
    width:150px;
    height:30px;  
    font-weight: 1000;
    font-size:1.8rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn2{
    border:none;
    background-color: #F1C40F;
    width:100px;
    height:40px;  
    position: absolute; /* Set the button to absolute positioning but the container div must be position: relative; first */
    bottom: 15px;     
    font-size: 1.6rem;
    transition: background-color 0.7s ease;
}

.hov:hover{
    background-color: #f1970f;
    cursor: pointer;
}

footer{   
    position: absolute; /* Set the button to absolute positioning but the container div must be position: relative; first */
    bottom: 0px; 
    width:100%;
    height:80px;
    flex-direction: column;  
   
    display: grid;
    place-items: center;
    margin-top: 100px;
    font-family:'Lato', sans-serif;   
    line-height: 5px;
    
}

.footer-container{
    background-color:#ddd;
    width:77%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content:right;
    
}

.footer-head{
    display: flex;
    flex-direction: row; 
    justify-content:right;
}

footer h4{
    padding-right:20px;
    font-size: 1.7rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 30px;
}

footer p{
    padding-right:15px;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 10px;
    color:#444;
}

@media only screen and (max-width: 450px) {  
    * h1{
        font-size:2rem;
    }
    * h2{
       font-size:1.3rem; 
    }
    * h3{
        font-size:2rem;
    }
    * h4{
        font-size:1.3rem; 
    }   
    * p{
       font-size:1.1rem; 
    }
    .container, .container2, .container3{
        width:70%;
        height:70%;
    }

}
